
body {
  font-family: 'Verdana', sans-serif;
  background-size: cover;
  background-color: rgb(220,220,220);
}

page {
  width: 18cm;
  height: 26.7cm;
  background: white;
  display: block;
  position: center;
  padding: 25mm 15mm 15mm 25mm;
  margin: auto;
  margin-top: 25mm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  font-size: 10.5pt;
}

.row {
   width : 18cm;
   position: absolute;
   }

.col-sm-1 {
  border-left: solid thin rgb(94,96,161);
  width: 1.5cm;
  display: inline-grid;
  margin: 0;
  position: absolute;
  left: 16.5cm;
 }

 .col-sm-1 img { 
 width : 11pt;
 height: 11pt;
}

.col-sm-2 {
  width: 3cm;
  position: absolute;
  margin: 0;
  display: inline-grid;
 }

.col-sm-3 {
  width : 4.5cm;
  display: inline-grid;
  margin: 0;
  position: absolute;
}

nav {
  left : 12cm;
  text-align: right;  

}

.col-sm-6 {
    width : 9cm;
    display: inline-grid;
    margin: 0;
    position: absolute;
    left: 3.5cm;
}

.col-sm-9 {
  border-left: solid thin rgb(94,96,161);
  width : 13.5cm;
  display: block;  
  margin: 0;
  position: absolute;
  left: 4.5cm;
}

#sample-projects {
  position: absolute;
  top: 9cm;
}

#skills {
  position: absolute;
  top: 15cm;
}

#education {
  position: absolute;
  top: 18cm;
}

#experience {
  position: absolute;
  top: 20cm;
}

#interests {
  position: absolute;
  top: 23cm;
}

.object1 {
  position: absolute;
  top: 1.5cm;
}

.object2 {
  position: absolute;
  top: 4cm;
}

.object3 {
  position: absolute;
  top: 7cm;
}

a {
  width: 4.5cm;
  font-size: 7.5pt;
  color: rgb(94,96,161);
  height: 9pt;
  text-decoration: none;
  margin : 0 0 0 0;
 }

a:hover{
  color: rgb(94,96,161);
  text-decoration: underline;
 }

a:active{
font-size:0.9em;
 }

p {
  font-size: 7.5pt;
  color: rgb(94,96,161);
  height: 0.6cm;
  margin : 0 0.15cm 0 0.1cm;
}

h1, h4 {
  color: rgb(94,96,161);
  font-weight: bold;
  margin-bottom: 0.2cm;
}

h3 {
  margin: 0;
}

div img {
  width: 100%;
}

footer {
border-top: solid thin rgb(94,96,161);
font-size:0.9em;
top: 26.7cm;
}

li {
  font-size: 0.8em;
}

@media print {

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    width: 210mm;
    height: 297mm;
    margin: 0;
  }

  page {
    margin: 0;
  }

a {
   text-decoration: none !important;
}
}

