
body {
  font-family: 'Verdana', sans-serif;
  background-size: cover;
  background-color: rgb(220,220,220);
}

a {
  font-size: 10px;
  color: rgb(94,96,161);
  height: 12px;
}

p {
  font-size: 10px;
  color: rgb(94,96,161);
  height: 5px;
}

a:hover{
  color: rgb(94,96,161);
 }

a:active{
font-size:0.9em;
 }

h3, h5 {
  color: rgb(94,96,161);
  font-weight: bold;
}

section img {
  width: 80%;
}

footer {
border-top: solid thin rgb(94,96,161);
font-size:0.9em;
}

/*.col-sm-3 {
  background-color: rgb(200,200,200);
}

header .col-sm-3 {
  background-color: rgb(255,255,255);
}
*/

.col-sm-9 {
  border-left: solid thin rgb(94,96,161);
}

.note {
  font-size: 0.9em;
}

page {
  width: 21cm;
  height: 29.7cm;
  background: white;
  display: block;
  position: center;
  padding: 27mm 16mm 27mm 16mm;
  margin: 27mm 16mm 27mm 16mm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  font-size: 14px;
}

li {
  font-size: 0.8em;
}

 .col-sm-1 {
  border-left: solid thin rgb(94,96,161);
 }

 .col-sm-1 img { 
 width : 17px;
 height: 17px;
}

@media print {

.page {
  width: 21cm;
  height: 29.7cm;
  margin: 27mm 16mm 27mm 16mm;
}

}
